<%- include("./_variables.ejs") -%>

<footer class="footer">
    <h1 class="footer__logo"><%= $site.title %></h1>
    <%- include("./_tonbo.svg.ejs") %>
    <span>埼玉県ふじみ野市で剣道なら</span><span>武蔵剣友会へ</span>
    <div class="footer__bottom">
        <span>&copy; 武蔵剣友会 All rights reserved.</h1>
    </div>
</footer>
