@charset "utf-8";

//===============================================
//ブレイクポイント==================================
//===============================================
//Pureに揃えてあります
$breakpoints:(
    sm: "screen and (min-width: 35.5em)", //>=568px
    md: "screen and (min-width: 48em)", //>=768px
    lg: "screen and (min-width: 64em)", //>=1024px
    xl: "screen and (min-width: 80em)", //>=1280px
);
//ミックスイン
@mixin media($breakpoint){
    @media #{map-get($breakpoints, $breakpoint)}{
        @content;
    }
}
//===============================================
//タイポグラフィ==================================
//===============================================
$font-family-main: "Yu Mincho", "游明朝", YuMincho, "游明朝体", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "メイリオ", sans-serif;
$font-family-alt: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;

//===============================================
//カラーパレット==================================
//===============================================
$clr-main: #0f2350;
$clr-accent: #E62B1E;
$clrbase: #e5d2aa;
$clr-font: black;



//===============================================
//開発用==================================
//===============================================
$placeholder : "https://via.placeholder.com/";
$site-top: "..";