@charset "utf-8";
@import "_variables.scss";

.hero{
    position: relative;
    display: flex;
    height: 100vh;
    background-image: url($placeholder+"900x1600");
    background-size:  cover;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: red;
        opacity: 0.5;
    }
    &__logo{
        position: relative;
        writing-mode: vertical-rl;
        letter-spacing: .4em;
        margin: 2.5em auto 1em 1em;
    }
    &__text{
        display: none;
    }
}
.intro-about{
    background-color: none;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}