@charset "utf-8";
@import "_variables.scss";

//===============================================
//ミックスイン定義==================================
//===============================================
@mixin dash($color) {
    position: relative;
    /*
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: -.3em;
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, transparent,rgba($clr-font, .4) 70% , $clr-font);
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .2s;
    }
    &:hover::before{
        transform-origin: right top;
        transform: scale(1, 1);
    }
    */
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -.3em;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, transparent,rgba($color, .4) 70% , $color);
        transform: scale(0, 1);
        transform-origin: right top;
        transition: transform .2s;
    }
    &:hover::after, &:focus::after{
        transform-origin: left top;
        transform: scale(1, 1);
    }
}


//===============================================
//共通パーツ==================================
//===============================================
.ctl-button{
    cursor: pointer;
    color: $clr-font;
    font-family: $font-family-alt;
    text-decoration: none;
    display: inline-block;
    @include dash($clr-font);
    &[target="_blank"]{
        @include dash($clr-accent);
    }
    i{
        display: flex;
        &::before, &::after{
            margin: auto 0;
            position: absolute;
            top: 0;
            bottom: 0;
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-top: 1px solid $clr-font;
            border-right: 1px solid $clr-font;
            transform: rotate(45deg);
        }
        &::before{
            left: 0;
        }
        &::after{
            left: 7px;
        }
    }
    span{
        margin-left: 1.5em;
        padding: 1em 0;
    }
}

//===============================================
//ドロワーメニュー==================================
//===============================================
.drawer{
    position: relative;
    @at-root #drawer{
        display: none;
    }
    &__toggle{
        cursor: pointer;
        position: fixed;
        top: 1em;
        right: 2em;
        z-index: 1000;
    }
    .svg-menu, .svg-close{
        width: 2em;
        height: auto;
    }
    .svg-menu{
        opacity: 1;
        transition: opacity .3s ease;
    }
    .svg-close{
        position: absolute;
        top: 0;
        left: 0;
        fill: #777;
        opacity: 0;
        transition: opacity .3s ease;
    }
    &__contents{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 999;
        transform: translateX(101%);
        transition-property: transform;
        transition-timing-function: cubic-bezier(.19,.77,.21,.98);
        transition-duration: .3s;
        &__list{
            margin-top: 5em;
        }
        &__item{
            text-align: center;
        }
        &__link{
            transition: background-color 0.3s ease;
        }
        &__bottom{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 calc(50% - 240px);
            margin-top: 5em;
            height: max-content;
            text-align: center;
            overflow: hidden;
            svg{
                position: absolute;
                top: 20%;
                right: 20%;
                width: 30%;
                transform: rotate(45deg);
                fill: rgba(black, .4);
            }
        }
        &__logo{
            position: relative;
            writing-mode: vertical-rl;
            letter-spacing: .4em;
        }
    }
    @at-root #drawer:checked{
        ~ .drawer__contents{
            transform: translateX(0);
        }
        ~ .drawer__toggle{
            .svg-menu{
                opacity: 0;
            }
            .svg-close{
                opacity: 1;
            }
        }
    }
}
@include media(sm){
    .drawer{
        &__contents{
            &__link{
                font-size: (18 / 16)*1em;
                letter-spacing: .3em;
                padding: .5em 0;
            }
        }
    }
}
@include media(md){
    .drawer{
        .svg-menu, .svg-close{
            width: 3em;
        }
        &__contents{
            &__link{
                font-size: (24 / 16)*1em;
            }
            &__bottom{
                svg{
                    position: absolute;
                    top: 10%;
                    right: 10%;
                    width: 40%;
                }    
            }
            &__logo{
                font-size: 2em;
            }    
        }
    }
}

//===============================================
//フッター =======================================
//===============================================
.footer{
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    background-color: $clr-main;
    padding: 2em;
    text-align: center;
    &__logo{
        display: inline-block;
        color: white;
        font-size: (20 / 16)*1em;
        writing-mode: vertical-rl;
        letter-spacing: .4em;
    }
    svg{
        position: absolute;
        top: 4em;
        right: 2em;
        width: 40%;
        transform: rotate(45deg);
        fill: rgba(white, .2);
    }
    span{
        display: block;
        color: white;
    }
    &__bottom{
        background-color: rgba($clr-font, .7);
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        span{
            font-family: $font-family-alt;
            font-size: (12/16)*1em;
            color: rgba(white, .7);
        }
    }
}

//===============================================
//フロントページ==================================
//===============================================
.hero{
    position: relative;
    display: flex;
    height: 100vh;
    //background-image: url($placeholder+"900x1600");
    background-image: url($site-top+"/img/hero-long.jpg");
    background-size:  cover;
    background-position: center;
    &__logo{
        position: relative;
        writing-mode: vertical-rl;
        height: max-content;
        color: white;
        letter-spacing: .4em;
        margin: 2.5em auto 1em 1em;
        padding: .5em .2em;
        background-color: hsla(0, 0%, 0%, .5);
        @include fadeIn;
        z-index: 5;
    }
    &__text{
        display: none;
    }
    &__scroll.material-icons{
        display: block;
        width: fit-content;
        font-size: 4rem;
        color: white;
        position: absolute;
        right: 0;
        left: 0;
        bottom: .5rem;
        margin: auto;
        z-index: 5;
    }
    &__img{
        source, img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
        }
    }
}
@include media(md){
    .hero{
        &__logo{
            font-size: 3em;
        }
    }
}
@include media(lg){
    .hero{
        background-image: url($site-top+"/img/hero-wide.jpg");
        &__logo{
            font-size: 4em;
            margin: auto;
        }
    }
}

//セクション共通設定=============================================
.top-section{
    position: relative;
    padding: 4em 2em;
    &__title, &__text, .ctl-button{
        position: relative;
        z-index: 2;
    }
    &__title{
        font-weight: normal;
    }
    &__text{
        line-height: 2;
    }
}
@include media(md){
    .top-section{
        &__title{
            font-size: 2em;
        }
        &__text{
            margin: 2em 0;
        }
    }
}
@include media(lg){
    .top-section{
        padding: 5em calc(50% - (450 / 16)*1em);
    }
}

//武蔵剣友会についてセクション
.intro-about{
    background-color: hsla(0, 0%, 86%, .3);
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    overflow: hidden;
    text-align: left;
    svg{
        position: absolute;
        top: 1em;
        right: -1em;
        fill: rgba(white, .9);
        width: 50%;
        max-width: 500px;
        z-index: 1;
    }
}
@include media(sm){
    .intro-about{
        text-align: center;
    }
}
@include media(lg){
    .intro-about{
        svg{
            top: 0;
            right: 5%;
        }
    }
}


.intro-keiko{
    .buttons{
        &__button{
            margin-bottom: 1.5em;
        }
    }
}
//インターセクション共通設定=============================================
.inter-section{
    height: 6em;
    overflow: hidden;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(black, .4);
        z-index: 2;
    }
    img{
        position: absolute;
        top: -50%;
        width: 100%;
        z-index: 1;
    }
}
@include media(md){
    .inter-section{
        height: 11em;
    }
}
@include media(lg){
    .inter-section{
        height: 13em;
    }
}

//===============================================
//aboutページ================================
//===============================================
.about{
    &__hero{
        display: flex;
        min-height: 40vh;
        background-image: url($site-top+"/img/keiko4.jpg");
        background-size:  cover;
        background-position: center;
        &__title{
            display: inline-block;
            margin: auto auto .5em 1em;
            width: max-content;
            text-align: center;
            color: white;
            font-weight: normal;
            font-size: 1.5em;
            padding: 0 .5em;
            background-color: rgba(black, .5);
            @include fadeIn;
        }
    }
    &__section{
        position: relative;
        padding: 4em 2em;
        &__title, &__text, .ctl-button{
            position: relative;
            z-index: 2;
        }
        &__title{
            font-weight: normal;
        }
        &__text{
            line-height: 2;
        }
        &__table{
            width: 100%;
            margin-bottom: 2em;
            font-size: (14 / 16)*1em;
        }
        img{
            width: 100%;
        }
        &.award{
            background-color: rgba($clr-base, .2);
        }
        &.message{
            .president-name{
                font-size: (20 / 16)*1em;
            }
        }
        @at-root .mentor{
            &__card{
                margin-bottom: 3em;
                &__img{
                    display: block;
                }
                &__name{
                    margin: 0;
                    margin-top: .5em;
                    font-weight: normal;
                }
                &__job-title{
                    font-size: (14 / 16)*1em;
                    color: rgba($clr-font, .7);
                }
            }
        }
        &.info{
            background-color: rgba($clr-main, .2);
            background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
            /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
            .ctl-button{
                margin-bottom: 1rem;
            }
            @at-root .about__section__table{
                &, th, td{
                    border-color: $clr-font;
                }
                th{
                    span{
                        writing-mode: vertical-rl;
                        white-space: nowrap;
                    }
                }
                ul{
                    padding-left: 1em;
                }
            }
        }
    }
    .about-us{
        &__img{
            margin-top: 2rem;
        }
    }
    &__inter-section{
        display: flex;
        svg{
            height: 4em;
            max-width: 50%;
            margin: auto;
            fill: $clr-accent;
        }
    }
}
@include media(md){
    .about{
        &__section{
            &__table{
                th{
                    span{
                        writing-mode: horizontal-tb;
                    }
                }
            }
        }
        .about-us{
            &__text{
                padding: .5rem;
                box-sizing: border-box;
                .about__section__title{
                    margin-top: 0;
                }
            }
            &__img{
                margin: 0;
            }
        }
    }
    .message{
        &__img{
            display: block;
        }
        &__para{
            box-sizing: border-box;
            padding-left: .5em;
        }
    }
    .mentor{
        &__card{
            &__img{
                display: block;
            }
            &__para{
                box-sizing: border-box;
                padding-left: .5em;
            }
            &__name{
                margin: 0;
            }
        }
    }
}
@include media(lg){
    .about{
        &__hero, &__section{
            padding: 5em calc(50% - (450 / 16)*1em);
        }
        &__hero{
            &__title{
                font-size: 2em;
                margin-left: 0;
            }
        }
    }
}

//===============================================
//activityページ================================
//===============================================
.activity{
    &__hero{
        display: flex;
        min-height: 40vh;
        background-image: url($site-top+"/img/activity_hero_700x467px.jpg");
        background-size:  cover;
        background-position: center;
        &__title{
            display: inline-block;
            margin: auto auto .5em 1em;
            width: max-content;
            text-align: center;
            color: white;
            font-size: 1.5em;
            font-weight: normal;
            letter-spacing: .2em;
            padding: 0 .5em;
            background-color: rgba(black, .5);
            @include fadeIn;
        }
    }
    &__section{
        position: relative;
        padding: 4em 2em;
        &__title, &__text, .ctl-button{
            position: relative;
            z-index: 2;
        }
        &__title{
            font-weight: normal;
        }
        &__text{
            line-height: 2;
        }
        &__school{
            margin-top: 2em;
            &__title{
                font-weight: normal;
                margin: .5em 0;
            }
            
        }
        &.practice, &.access{
            background-color: rgba($clr-base, .2);
        }
        img{
            display: block;
            width: 100%;
        }
    }
    &__inter-section{
        display: flex;
        background-color: rgba($clr-base, .2);
        svg{
            height: 4em;
            max-width: 50%;
            margin: auto;
            fill: $clr-accent;
        }
    }
    .calender-wrapper{
        position: relative;
        margin: 0 -2em;
        height: 0;
        padding-top: 150%;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .buttons{
        &__button{
            margin-bottom: 1.5em;
        }
    }
}
@include media(sm){
    .activity{
        .calender-wrapper{
            padding-top: 100%;
        }
    }
}
@include media(md){
    .activity{
        &__hero{
            background-image: url($site-top+"/img/activity_hero.jpg");
        }
        &__section{
            &__school{
                &__desc{
                    box-sizing: border-box;
                    padding-left: .5em;
                }
                &__title{
                    margin-top: 0;
                }
            }
        }
        .calender-wrapper{
            margin: 0;
            padding-top: 75%;
        }
    }
}
@include media(lg){
    .activity{
        &__hero, &__section{
            padding: 5em calc(50% - (450 / 16)*1em);
        }
        &__hero{
            &__title{
                font-size: 2em;
                margin-left: 0;
            }
        }
        .calender-wrapper{
            margin: 0 2rem;
            padding-top: 70%;
        }
    }
}

//===============================================
//contactページ================================
//===============================================
.contact{
    &__hero{
        display: flex;
        min-height: 40vh;
        background-image: url($site-top+"/img/お話する会員.JPG");
        background-size:  cover;
        background-position: center;
        &__title{
            display: inline-block;
            margin: auto auto .5em 1em;
            width: max-content;
            text-align: center;
            color: white;
            font-size: 1.5em;
            font-weight: normal;
            letter-spacing: .2em;
            padding: 0 .5em;
            background-color: rgba(black, .5);
        }
    }
    &__form{
        &__text{
            padding: 0 2em;
        }
        &__wrapper{
            position: relative;
            width: 100%;
            max-width: 700px;
            height: 0;
            padding-top: 520px;
            margin: 1em auto;
            margin-top: 2em;
            overflow:auto; 
            -webkit-overflow-scrolling:touch;
            border:2px solid #ccc; 
            iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border:none;
                display:block;
            }
        }
    }
}
@include media(lg){
    .contact{
        &__hero, &__form{
            padding: 5em calc(50% - (450 / 16)*1em);
        }
        &__hero{
            &__title{
                font-size: 2em;
            }
        }
        &__form{
            &__text{
                text-align: center;
            }
            &__wrapper{
                padding-top: 100%;
            }
        }
    }
}